.container {
  margin-left: 30px;
  margin-top: 30px;
  height: 100%;
}

img {
  max-width: 25%;
}

#python {
  display: none;
} 

#csharp {
  display: none;
}

#js {
  display: none;
}

#rails {
  display: none;
}